@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

:root {
    --sm-padding: 0.5rem;
    --lg-padding: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Verdana, Tahoma, sans-serif;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

#skip-link {
    background-color: #000;
    border: #fff solid 4px;
    color: #fff;
    padding: var(--sm-padding);
    position: absolute;
    top: -9999px;
}

#skip-link:focus {
    right: 90rem;
    top: var(--lg-padding);
}

/***** Nav *****/

#logo {
    display: none;
    pointer-events: none;
}

#logo-link {
    display: none;
    pointer-events: none;
    user-focus: none;
}

header {
    letter-spacing: 0.06em;
}

header img {
    pointer-events: none;
    user-select: none;
}

nav {
    background-color: #2b3d28;
    display: flex;
    font-family: 'Bebas Neue', Verdana, Tahoma, sans-serif;
    height: 8rem;
    text-align: center;
}

nav ul {
    /*-webkit-box-shadow: 0px 4px 7px 1px #000000;*/
    /*box-shadow: 0px 4px 7px 1px #000000;*/
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    flex-basis: 15rem;
    flex-shrink: 0;
    line-height: 8rem;
    transition: all .3s ease-in-out;
}

nav a {
    color: #fff;
    display: block;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
    transition: all .3s ease-in-out;
    white-space: nowrap;
}

nav a:hover {
    color: #78bfae;
    text-decoration: none;
}

/*nav li:nth-child(6) {*/
/*    flex-basis: auto;*/
/*    margin: 0 0 0 auto;*/
/*}*/

#nav-box:checked + label {
    text-decoration: underline;
}

#nav-box,
#nav-trigger {
    display: none;
}

#nav-box:checked ~ #nav-collapse {
    display: flex;
}

#nav-trigger {
    color: #231f20;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    padding: var(--lg-padding);
    text-align: center;
}

.mobile-home {
    display: none;
}

.active {
    color: #78bfae;
}

/***** Login Page *****/

#login,
#signup {
    display: grid;
    justify-items: center;
    margin: 2rem;
}

#login h1,
#signup h1 {
    font-size: 3rem;
}

#login form,
#signup form {
    font-size: 2rem;
}

#signup-submit,
#login-button {
    background-color: #78bfae;
    border: #78bfae;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: .5rem
}

#signup-submit:hover,
#login-button:hover {
    color: #2b3d28;
}

input {
    border: solid 3px #2b3d28;
    border-radius: 10px;
    margin-bottom: .5rem;
    padding: .5rem;
    width: 18rem;
}

/***** Sign up Page *****/
#signup-form {
    display: flex;
    flex-direction: column;
}

#signup-submit {
    margin: 1rem 0;
}

/*Show Page*/

#welcome {
    margin-top: 3rem;
    text-align: center;
}

#welcome-details {
    font-size: 2rem;
    margin-left: 21rem;
}

/***** Search Bar *****/

.search-bar {
    background-color: #78bfae;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    height: 20rem;
    justify-content: center;
    padding-top: 2rem;
}

#mlm-search {
    border-radius: 10px;
    border: solid #fff;
    box-sizing: border-box;
    font: 3rem 'Roboto', cursive, Verdana, Tahoma, sans-serif;
    margin: 8px 0;
    padding: 5px 2px;
    width: 20rem;
}

.mag-glasses {
    margin-right: 5rem;
}

.lighter-glasses {
    opacity: 50%;
}

#glass-medium {
    margin: 100px 50px;
}

/***** Main Content *****/

#main-content {
    display: grid;
    grid-template-columns: 45rem 25rem;
    margin: 1rem;
    justify-content: center;
    column-gap: 16rem;
}

#main-content h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

#main-content p {
    font-size: 1.5rem;
}

#boss {
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(88, 88, 88);
    grid-column: 2;
    margin-top: 2rem;
}

/***** All MLMs *****/

#mlm-list {
    font-size: 3rem;
    margin-left: 3rem;
    /*max-width: 80%;*/
    -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(10deg);
}

#forum-list {
    font-size: 2rem;
    list-style-type: none;
    margin: 1rem auto;
    max-width: 80rem;
    width: 100%;
}

#forum-h1,
#mlm-forum-h1 {
    font-size: 3rem;
    text-align: center;
}

#forum-list h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #2b3d28;
    margin: .5rem 0;
}

.forum-links {
    background-color: #78bfae;
    border: #2b3d28 solid 5px;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.forum-links a,
.home-mlm-link {
    color: #000;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}

.forum-links a:hover,
.home-mlm-link:hover {
    color: #fff;
    transition: all .3s ease-in-out;
}

.forum-links a:nth-of-type(2) {
    margin-left: 2rem;
}

#mlm-error,
#error-link {
    font-size: 1rem;
}

/***** Forum Pages *****/

#new-form span {
    background-color: #78bfae;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 2rem;
    padding: 1rem;
}

#new-form span:hover,
#submit-button {
    cursor: pointer;
}

#new-form form {
    margin: 3rem 2rem;
}

#post-title,
#post-body,
#comment {
    border: #78bfae solid 1px;
    border-radius: 10px;
    font: 1rem 'Roboto', Verdana, Tahoma, sans-serif;
}

#submit-button {
    background-color: #78bfae;
    border: #78bfae solid 1px;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    padding: .5rem;
}

#new-form input,
#submit-button {
    display: block;
}

.forum-posts {
    margin: 1rem;
}

.replies {
    background-color: #78bfae;
    border-radius: 10px;
    color: #fff;
    padding: .5rem;
}

.replies:first-of-type {
    display: inline-block;
    margin-bottom: 1rem;
}

/***** Recent Posts *****/

.posts-list {
    font-size: 1rem;
    margin: 1rem auto;
    max-width: 80rem;
    width: 100%;
}

.posts-list article {
    border: #78bfae 5px solid;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}

.recent-titles {
    color: #78bfae;
}

.recent-post {
    font-style: italic;
}

.mlm-link {
    color: #78bfae;
}

.view-comments {
    background-color: #78bfae;
    border-radius: 10px;
    color: #2b3d28;
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    text-decoration: none;
}

#comment-form {
    margin: 1rem;
}

#reply-heading {
    color: #78bfae;
    margin: 1rem;
}

/***** Show page *****/

.single-post {
    margin: 1rem;
}

#comments span {
    font-weight: bold;
}

.comment-and-reply-btn {
    border: #78bfae 2px solid;
    border-radius: 10px;
    margin: 1rem;
    max-width: 60rem;
    padding: .5rem;
}

/***** Footer *****/

footer {
    align-items: flex-end;
    background-color: #78bfae;
    display: flex;
    font-family: 'Bebas Neue', Verdana, Tahoma, sans-serif;
    justify-content: space-between;
    margin-top: auto;
    padding: 1rem;
}

footer ul {
    list-style: none;
}

footer li {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
}

footer a {
    color: #000;
    font-size: 1.5rem;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer p {
    font-size: 1rem;
}

.footer-img {
    align-self: center;
}

/***** Media Queries *****/

/***** 1765 *****/
@media screen and (max-width: 1765px) {
    #main-h1 {
        font-size: 3rem;
    }

    #mlm-search {
        font-size: 2.5rem;
    }
}

/***** 1678 *****/
@media screen and (max-width: 1678px) {
    #main-h1 {
        font-size: 2rem;
    }

    .search-bar {
        height: 17rem;
    }
}

/***** 1648 *****/
@media screen and (max-width: 1648px) {
    #glass-medium,
    #glass-lg {
        display: none;
    }

    #mlm-search {
        font-size: 1.5rem;
        height: 3rem;
    }
}

/***** 1428 *****/
@media screen and (max-width: 1428px) {
    #main-content {
        display: grid;
        grid-template-columns: 30rem 20rem;
    }
}

/***** 1408 *****/
@media screen and (max-width: 1408px) {
    /*nav li:nth-child(6) {*/
    /*    padding-right: 3rem;*/
    /*}*/

    nav li {
        flex-basis: 10rem;
    }

    nav li a {
        padding: 0 1rem;
    }

    #main-content {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        justify-content: center;
        column-gap: 16rem;
        width: 90%;
    }

    #boss {
        display: none;
    }
}

/***** 1312 *****/
@media screen and (max-width: 1312px) {
    #mlm-search {
        font-size: 1.5rem;
        height: 2.5rem;
        width: 15rem;
    }
}

/***** 1100 *****/
@media screen and (max-width: 1100px) {
    nav a {
        font-size: 1.5rem;
    }
}

/***** 1080 *****/

@media screen and (max-width: 1080px) {
    #glass-2 {
        display: none;
    }
}

/***** 1062 *****/
@media screen and (max-width: 1062px) {
    nav li:nth-of-type(4) {
        display: none;
    }

    nav li {
        flex-basis: 8rem;
    }

    nav a {
        font-size: 2.25rem;
    }

    #logo {
        display: block;
        margin: 1rem 1rem;
        height: 5rem;
        width: 5rem;
    }

    #logo-link {
        display: block;
        pointer-events: all;
    }
}

/***** 936 *****/
@media screen and (max-width: 936px) {
    #first-glass,
    #glass-last {
        display: none;
    }
}

/***** 930 *****/
@media screen and (max-width: 930px) {
    nav a {
        font-size: 2rem;
    }
}

/***** 877 *****/
@media screen and (max-width: 877px) {
    nav a {
        font-size: 1.5rem;
    }
}

/***** 855 *****/
/*put hamburger menu here*/
@media screen and (max-width: 855px) {
    #nav-trigger {
        display: block;
    }

    #nav-collapse {
        display: none;
        flex-direction: column;
    }

    .mobile-home {
        display: block;
    }

    nav {
        height: fit-content;
    }

    nav ul {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: block;
        flex-basis: 5rem;
        flex-shrink: 0;
        line-height: 5rem;
        transition: all .3s ease-in-out;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    #logo,
    #logo-link {
        display: none;
    }

    footer {
        align-items: center;
        background-color: #78bfae;
        flex-direction: column;
        margin-top: auto;
        padding: 1rem;
    }

    footer ul {
        order: -1;
    }
}

